openai==0.27.7
pandas==2.0.1
Flask==2.3.2
gunicorn==20.1.0
python-dotenv==1.0.0
flask-talisman==1.0.0
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability