/* .choices[data-type*="select-one"] .choices__list--dropdown {
    min-width: 200px;
}

.choices__list--dropdown .choices__item {
    padding-right: 0;
} */

.icon-button {
    background: none;
    border: none;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 10; */
}

.icon-button:hover {
    color: #555555;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, 
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0px !important;
    }
}

.choices__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}
