.icon-button {
    background: none;
    border: none;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 10; */
}

.icon-button:hover {
    color: #555555;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, 
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0px !important;
        z-index: 1000000000;
    }
}


.choices__list {
    z-index: 1000000000 !important;
}

.choices__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}


@media (max-width: 600px) {
    .introjs-tooltip {
        position: absolute !important;
        transform: translateY(100%) !important;
        /* Add a bottom margin if you want some space between the tooltip and the highlighted element. */
        margin-bottom: 10px !important;
    }
}


/* make visited links same color */
a {
    color: #0D6EFD;
}

a:visited {
    color: #0D6EFD;
}

a:hover {
    color: #0D6EFD;
}