.choices[data-type*="select-one"] .choices__list--dropdown {
    min-width: 200px;
}

.choices__list--dropdown .choices__item {
    padding-right: 0;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, 
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0px !important;
    }
}
