<div class="container">
    {% include 'help_subject.html' %}
    {% include 'help_object.html' %}
    {% include 'help_verb.html' %}
    <div class="row mb-4">
        <div class="col">
            <h1 style="text-align: center;">Owens Valley Paiute Sentence Builder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md-4 p-1">
            <div class="position-relative" style="border: 1px dashed red; border-radius: 5px; padding: 10px;">
                <!-- add ? icon popover -->
                <h2 class="text-center">Subject</h2>
                <button type="button" class="icon-button" id="help-subject-popover" data-toggle="popover">
                    <i class="fas fa-question-circle"></i>
                </button>
                <div class="row">
                    <div class="col-6" style="padding-right: 6px;">
                        <select id="subject-noun" aria-label="subject-noun" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Subject</option>
                        </select>
                    </div>
                    <div class="col-6" style="padding-left: 6px;">
                        <select class="form-select mt-1" id="subject-suffix" aria-label="subject-suffix" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Suffix</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-4 p-1">
            <div class="position-relative" style="border: 1px dashed green; border-radius: 5px; padding: 10px;">
                <h2 style="text-align: center;">Object</h2>
                <button type="button" class="icon-button" id="help-object-popover" data-toggle="popover">
                    <i class="fas fa-question-circle"></i>
                </button>
                <!-- Object Dropdown -->
                <div class="row equal-spacing">
                    <div class="col-6" style="padding-right: 6px;">
                        <select class="form-select mt-1" id="object-noun" aria-label="object-noun" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Object</option>
                        </select>
                    </div>
                    <div class="col-6" style="padding-left: 6px;">
                        <select class="form-select mt-1" id="object-suffix" aria-label="object-suffix" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Suffix</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-4 p-1">
            <div class="position-relative" style="border: 1px dashed blue; border-radius: 5px; padding: 10px;">
                <h2 style="text-align: center;">Verb</h2>
                <button type="button" class="icon-button" id="help-verb-popover" data-toggle="popover">
                    <i class="fas fa-question-circle"></i>
                </button>
                <!-- Verb Dropdown -->
                <div class="row">
                    <!-- object pronoun -->
                    <div class="col-4" style="padding-right: 6px;">
                        <select class="form-select mt-1" id="object-pronoun" aria-label="object-pronoun" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Pronoun</option>
                        </select>
                    </div>
                    <div class="col-4" style="padding-right: 6px; padding-left: 6px;">
                        <select class="form-select mt-1" id="verb" aria-label="verb" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Verb</option>
                        </select>
                    </div>
                    <div class="col-4" style="padding-left: 6px;">
                        <select class="form-select mt-1" id="verb-tense" aria-label="verb-tense" onchange="updateDropdowns('/api/choices')">
                            <option value="" selected disabled>Tense</option>
                            <option value="present">Present</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mt-3">
                <div class="col text-center">
                    <h3 style="text-align: center;" id="sentence"></h3>
                    <button type="button" class="btn btn-secondary mt-3" id="btn-randomize" onclick="updateDropdowns('/api/random')">Randomize Choices</button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <!-- centered wide button -->
                    <button type="button" class="btn btn-secondary mt-3" id="btn-translate" style="display: none;">Translate</button>
                    <h3 style="text-align: center;" id="translation"></h3>
                    <!-- add button to randomize choices -->
                </div>
            </div>
        </div>
    </div>
</div>