<div id="help-verb" style="display: none;">
    The <b>verb</b> is the action that is being done. For example, in the sentence <i>the dog is running</i>, the <b>verb</b> is <i>run</i>.
    In Paiute, the <b>verb tense</b> is indicated by a <b>suffix</b> on the verb. For example, the suffix <b>-wei</b> indicates that the verb is in the <b>future tense</b>.
    <br><br>
    Transitive verbs (verbs that have an object) may be prefixed by an <b>object pronoun</b> (like ü-, which means you) to indicate the object.
    If an object is specified, a <b>matching</b> object pronoun must be used.
</div>