<div id="help-subject" style="display: none;">
    The <b>subject</b> of a sentence is the person or thing that is doing the action.
    For example, in the sentence <i>the dog is running</i>, the <b>subject</b> is <i>the dog</i>.
    In Paiute, if the <b>subject</b> is not a <b>pronoun</b> (like I, you, he, she, it, we, or they), then it must be followed by a <b>suffix</b>
    either <b>-ii</b> (indicating the subject is near/visible) or <b>-uu</b> (indicating the subject is far/not visible).
</div>