<div id="help-object" style="display: none;">
    The <b>object</b> of a sentence is the person or thing that is receiving the action.
    For example, in the sentence <i>the dog is chasing the cat</i>, the <b>object</b> is <i>the cat</i>.
    In Paiute, if the <b>object</b> is not a <b>pronoun</b> (like I, you, he, she, it, we, or they), then it must be followed by a <b>suffix</b>
    either <b>-neika</b> (indicating the object is near/visible) or <b>-noka</b> (indicating the object is far/not visible).
    <br><br>
    Not all sentences have objects. For example, in the sentence <i>the dog is running</i>, there is no object.
    In these cases, you'll find that the <b>object</b> dropdowns are disabled.
</div>