<!DOCTYPE html>
<html>
<head>
    <title>Sentence Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col p-3" style="border: 1px dashed red; border-radius: 5px;">
                <h2 style="text-align: center;">Subject</h2>
                <div class="row">
                    <div class="col">
                        <select class="form-select mt-1" id="subject-noun" aria-label="subject-noun" onchange="updateDropdowns()">
                            <option value="" selected disabled>Subject</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mt-1" id="subject-suffix" aria-label="subject-suffix" onchange="updateDropdowns()">
                            <option value="" selected disabled>Subject Suffix</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="col mx-2 p-3" style="border: 1px dashed green; border-radius: 5px;">
                <h2 style="text-align: center;">Object</h2>
                <!-- Object Dropdown -->
                <div class="row">
                    <div class="col">
                        <select class="form-select mt-1" id="object-noun" aria-label="object-noun" onchange="updateDropdowns()">
                            <option value="" selected disabled>Object</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mt-1" id="object-suffix" aria-label="object-suffix" onchange="updateDropdowns()">
                            <option value="" selected disabled>Object Suffix</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col p-3" style="border: 1px dashed blue; border-radius: 5px;">
                <h2 style="text-align: center;">Verb</h2>
                <!-- Verb Dropdown -->
                <div class="row">
                    <!-- object pronoun -->
                    <div class="col">
                        <select class="form-select mt-1" id="object-pronoun" aria-label="object-pronoun" onchange="updateDropdowns()">
                            <option value="" selected disabled>Object Pronoun</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mt-1" id="verb" aria-label="verb" onchange="updateDropdowns()">
                            <option value="" selected disabled>Verb</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select mt-1" id="verb-tense" aria-label="verb-tense" onchange="updateDropdowns()">
                            <option value="" selected disabled>Verb Tense</option>
                            <option value="present">Present</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 style="text-align: center;" id="sentence"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        
        // subject_noun=data.get('subject_noun'),
        // subject_suffix=data.get('subject_suffix'),
        // verb=data.get('verb'),
        // verb_tense=data.get('verb_tense'),
        // object_pronoun=data.get('object_pronoun'),
        // object_noun=data.get('object_noun'),
        // object_suffix=data.get('object_suffix')

        // Call /api/choices with format:
        // {
        //     "subject_noun": <subject-noun dropdown value>,
        //     "subject_suffix": <subject-suffix dropdown value>,
        //     "verb": <verb dropdown value>,
        //     "verb_tense": <verb-tense dropdown value>,
        //     "object_pronoun": <object-pronoun dropdown value>,
        //     "object_noun": <object-noun dropdown value>,
        //     "object_suffix": <object-suffix dropdown value>
        // }

        // return format is:
        // {
        //     subject_noun: {
        //         choices: [...],
        //         value: ...
        //         requirement: "required", "optional", or "disabled"
        //     },
        //     ...
        // }

        // When a dropdown is changed, call /api/choices with the current values of all dropdowns
        // Update the dropdowns with the returned values

        function setChoices(dropdownID, placeholder, choices, value, requirement) {
            // set choices for a dropdown
            // choices is an array of strings
            // dropdownID is the ID of the dropdown to set
            // clear the dropdown
            $(dropdownID).empty()
            // add placeholder to the dropdown
            $(dropdownID).append(`<option value="" selected disabled>${placeholder}</option>`)
            // add each choice to the dropdown
            choices.forEach(choice => {
                $(dropdownID).append(`<option value="${choice}">${choice}</option>`)
            })

            // set the value, if it is null, set to placeholder
            if (value == null) {
                $(dropdownID).val("")
            } else {
                $(dropdownID).val(value)
            }
            // if the dropdown is required, enable it
            // if the dropdown is optional, enable it
            // if the dropdown is disabled, disable it
            if (requirement == "required") {
                $(dropdownID).prop('disabled', false)
            } else if (requirement == "optional") {
                $(dropdownID).prop('disabled', false)
            } else if (requirement == "disabled") {
                $(dropdownID).prop('disabled', true)
            }
        }

        function updateDropdowns() {
            // log values of all dropdowns
            console.log($('#subject-noun').val())
            console.log($('#subject-suffix').val())
            console.log($('#verb').val())
            console.log($('#verb-tense').val())
            console.log($('#object-pronoun').val())
            console.log($('#object-noun').val())
            console.log($('#object-suffix').val())

            fetch('/api/choices', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "subject_noun": $('#subject-noun').val(),
                    "subject_suffix": $('#subject-suffix').val(),
                    "verb": $('#verb').val(),
                    "verb_tense": $('#verb-tense').val(),
                    "object_pronoun": $('#object-pronoun').val(),
                    "object_noun": $('#object-noun').val(),
                    "object_suffix": $('#object-suffix').val()
                })
            }).catch(err => {
                console.error(err);
            }).then(response => response.json()).then(res => {
                choices = res.choices
                setChoices(
                    '#subject-noun', 'Subject Noun',
                    choices.subject_noun.choices, choices.subject_noun.value, choices.subject_noun.requirement
                )
                setChoices(
                    '#subject-suffix', 'Subject Suffix',
                    choices.subject_suffix.choices, choices.subject_suffix.value, choices.subject_suffix.requirement
                )
                setChoices(
                    '#verb', 'Verb',
                    choices.verb.choices, choices.verb.value, choices.verb.requirement
                )
                setChoices(
                    '#verb-tense', 'Verb Tense',
                    choices.verb_tense.choices, choices.verb_tense.value, choices.verb_tense.requirement
                )
                setChoices(
                    '#object-pronoun', 'Object Pronoun',
                    choices.object_pronoun.choices, choices.object_pronoun.value, choices.object_pronoun.requirement
                )
                setChoices(
                    '#object-noun', 'Object Noun',
                    choices.object_noun.choices, choices.object_noun.value, choices.object_noun.requirement
                )
                setChoices(
                    '#object-suffix', 'Object Suffix',
                    choices.object_suffix.choices, choices.object_suffix.value, choices.object_suffix.requirement
                )

                // update the sentence if sentece is not an empty array
                if (res.sentence.length > 0) {
                    // each element is a word with a .text value and a .type value
                    // color each element based on its type
                    // type is one of "subject" (red) "verb" (blue) "object" (green)
                    formattedSentence = res.sentence.map(word => {
                        if (word.type == "subject") {
                            return `<span class="text-danger">${word.text}</span>`
                        } else if (word.type == "verb") {
                            return `<span class="text-primary">${word.text}</span>`
                        } else if (word.type == "object") {
                            return `<span class="text-success">${word.text}</span>`
                        } else {
                            return word.text
                        }
                    })

                    // Set contents of #sentence to formattedSentence
                    $('#sentence').html(formattedSentence.join(" "))
                } else {
                    // if sentence is empty, set contents of #sentence to "..."
                    $('#sentence').html("...")
                }
            });
        }
        
        // call updateDropdowns() when the page loads
        $(document).ready(function() {
            updateDropdowns()
        })

    </script>
</body>
</html>
